table {
  width: 100%;
}

th {
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.album-details {
  color: rgba(0, 0, 0, 0.54);
}
