.toolbar {
  background-color: #fafafa;
  margin-top: 25px;  
  font-family: inherit;
}

.search-container {
  position: relative;
  display: block;
  border:1px solid #828282;
  border-radius: 50px;
  overflow: hidden;
}

.search-icon {
  color: #616161;
  position: absolute;
  top: 9px;
  right: 25px;
  font-size: 18px;
}

.search-input {
  font-size: 16px;
  color: #212121;
  padding: 0 25px;
  box-sizing: border-box;
  //height: 48px;
  width: 100%;
  font-weight: 400;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  transition: border 0.1s ease-out;
  overflow: hidden;
}

.search-result {
  position: fixed;
  max-height: 400px;
  overflow: auto;
  min-width: 400px;
  background-color: #fbfbfb;
  border-radius: 6px;
  box-shadow: 3px 3px 5px 0px #ccc;
  z-index: 2;
}

.item-type{
  color: rgb(190, 190, 190);
  font-weight: normal;
  font-size: small;
  margin-left: 7px;
}

.drawer-container {
  height: 100%;
}

.drawer {
  background-color: #662323;
  width: 20%;
}

.logo {
  width: 70%;
  margin-top: 50px;
}

.user-icon {
  color: #e86060;
  margin-right: 10px;
  font-size: larger;
}

.user-text {
  color: #555555;
  font-weight: 400;
  font-size: large;
}

.sidebar-item1 {
  color: white;
  font-size: 22px;
}

.sidebar-item2 {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

a:hover {
  color: #e86060;
}

.music-control {
  position: fixed;
  bottom: 0;
  height: 85px;
  z-index: 2;
  padding: 0;
  background-color: #eb5757;
  box-shadow: 0px -5px 10px 2px rgba(0, 0, 0, 0.2);
  font-family: Comfortaa;
}