<div class="container">
  <h2 class="mt-4">Popular</h2>
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-4" *ngFor="let track of chartTracks">
      <mat-card class="album-card" matRipple>
        <mat-card-content (click)="play(track)">
          <img [src]="track.album.cover_xl" width="100%" class="responsive-image">
          <i class="fa fa-play play-icon"></i>
        </mat-card-content>
        <button class="menu-btn">
          <i class="fa fa-ellipsis-v"></i>
        </button>
        <div>
          <mat-card-title>
            <a href="#" class="album-title">{{ track.title }}</a>
          </mat-card-title>
          <mat-card-subtitle>
            <a href="#" class="album-subtitle">
              {{ track.artist.name }}
            </a>
          </mat-card-subtitle>
        </div>
      </mat-card>
    </div>
  </div>
</div>
