.album-card {
    overflow: hidden;
    margin: 20px 0px;
    padding: 0;
    cursor: pointer;
    position: relative;
    height: 250x;
    box-shadow: none;
    //box-shadow: 3px 3px 5px 0px #ccc;
    z-index: 1;
  }
  
  .album-title {
    font-size: 18px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    height: 40px;
    overflow: hidden;
    z-index: 1;
  }
  
  .album-subtitle {
    font-size: 14px;
    color: rgb(105, 105, 105);
    padding: 0;
    margin-bottom: 15px;
    z-index: 1;
  }

  .play-icon{
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 40%;
    color: white;
    opacity: 0.8;
  }
  